APP_NAME=CoreFly
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=storage/database/corefly.sqlite
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=your-random-256-bit-secret-key-here
JWT_EXPIRATION=86400

LOG_CHANNEL=daily
LOG_LEVEL=debug

CACHE_DRIVER=file
